In [1]:
import numpy as np
import pandas as pd
import os
import glob

pd.set_option('display.max_rows', 500)

# Sport - NIBRS Join

[Football poll data](#poll)\
[Football / basketball data alignment](#alignment)\
[Spark SQL join](#join)\
[Checking full DataFrame](#check)

<a id='poll'></a>


&nbsp;

## Football poll data


[College Football Data Glossary](https://collegefootballdata.com/glossary)

In [2]:
# create DataFrame 'df' from cfbd .json files, sourced from their /games API endpoint - one .json for each year
df = pd.concat(map(lambda file: pd.read_json(file), 
                   glob.glob(os.path.join('', r'../02_sport_rawdata/cfbd_games_json/' + '*.json'))))
df.reset_index(inplace=True, drop=True)

# create DataFrame 'df_poll' from cfbd .json files, sourced from their /rankings API endpoint - one .json for each year
df_poll = pd.concat(map(lambda file: pd.read_json(file, orient='records'), 
                        glob.glob(os.path.join('', r'../02_sport_rawdata/cfbd_poll_json/' + '*.json'))))
df_poll.reset_index(inplace=True, drop=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8966 entries, 0 to 8965
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8966 non-null   int64
 1   season              8966 non-null   int64
 2   week                8966 non-null   int64
 3   season_type         8966 non-null   object
 4   start_date          8966 non-null   object
 5   start_time_tbd      0 non-null      float64
 6   neutral_site        8966 non-null   bool
 7   conference_game     8966 non-null   bool
 8   attendance          8963 non-null   float64
 9   venue_id            8821 non-null   float64
 10  venue               8821 non-null   object
 11  home_id             8966 non-null   int64
 12  home_team           8966 non-null   object
 13  home_conference     8955 non-null   object
 14  home_points         8966 non-null   int64
 15  home_line_scores    8966 non-null   object
 16  home_post_win_prob  8125 non-null   float64
 17  home_pregame_elo    7856 non-null   float64
 18  home_postgame_elo   7856 non-null   float64
 19  away_id             8966 non-null   int64
 20  away_team           8966 non-null   object
 21  away_conference     7813 non-null   object
 22  away_points         8966 non-null   int64
 23  away_line_scores    8966 non-null   object
 24  away_post_win_prob  8125 non-null   float64
 25  away_pregame_elo    7856 non-null   float64
 26  away_postgame_elo   7856 non-null   float64
 27  excitement_index    7346 non-null   float64
 28  highlights          2705 non-null   object
 29  notes               1 non-null      object
dtypes: bool(2), float64(10), int64(7), object(11)
memory usage: 1.9+ MB

In [4]:
df_poll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      168 non-null    int64
 1   seasonType  168 non-null    object
 2   week        168 non-null    int64
 3   polls       168 non-null    object
dtypes: int64(2), object(2)
memory usage: 5.4+ KB

In [5]:
df_lst = []

def GetRankings(poll_data):
    ''' 
    This function takes a row of data and determines from which poll to extract rankings.
    There are 5 polls from which to select for a team's ranking on any given week.
    Note: This is not scaleable for large data due to looping of rows.
    '''
    
    tmp_df = pd.DataFrame(poll_data['polls'])

    search_term = ""
    if poll_data['season'] > 2013:
        if poll_data['week'] < 10: 
            search_term = 'AP Top 25'
        else:
            search_term = 'Playoff Committee'
        
    elif poll_data['season'] == 2013:
        if poll_data['week'] < 9:
            search_term = 'AP Top 25'
        else:
            search_term = 'BCS'
    else:
        if poll_data['week'] < 8:
            search_term = 'AP Top 25'
        else:
            search_term = 'BCS'
    
    if search_term == "":
        search_term = 'AP Top 25 i'
    rank_type = tmp_df[tmp_df['poll'].str.contains(search_term) == True]
    
    if rank_type.shape[0] == 0:
        search_term = 'AP Top 25'
        rank_type = tmp_df[tmp_df['poll'].str.contains('AP') == True]
    try:
        rankings = pd.json_normalize(rank_type.iloc[0]['ranks']).explode(['rank', 'school', 'conference'])
        # temp_ap = pd.json_normalize(r['polls']['poll']['ranks']).explode(['rank','school','conference'])
    except Exception:
        print(poll_data['season'], poll_data['week'], search_term)
        quit()
    
    rankings['season'] = poll_data['season']
    rankings['season_type'] = poll_data['seasonType']
    rankings['week'] = poll_data['week']
    rankings['poll'] = search_term
    
    df_lst.append(rankings)


# We don't want to return anything when we loop through the rows 
# as there will be a list of DataFrames stored we'll use in subsequent cells.
_ = df_poll.apply(lambda r: GetRankings(r),axis=1)

In [6]:
# Create the dataframe from the list of frames and validate the different polls that we're using and use some basic manipulation
cmb_ranks = pd.concat(df_lst)
cmb_ranks['school'] = cmb_ranks['school'].str.lower()

# Duplicate column for merging for opponent rank values later
cmb_ranks['opponent'] = cmb_ranks['school']
cmb_ranks

,rank,school,conference,firstPlaceVotes,points,season,season_type,week,poll,opponent
0,25,wisconsin,Big Ten,0,0,2009,regular,15,BCS,wisconsin
1,10,iowa,Big Ten,0,0,2009,regular,15,BCS,iowa
2,8,ohio state,Big Ten,0,0,2009,regular,15,BCS,ohio state
3,24,usc,Pac-10,0,0,2009,regular,15,BCS,usc
4,21,stanford,Pac-10,0,0,2009,regular,15,BCS,stanford
...,...,...,...,...,...,...,...,...,...,...
20,21,cincinnati,American Athletic,0,0,2019,regular,16,Playoff Committee,cincinnati
21,22,usc,Pac-12,0,0,2019,regular,16,Playoff Committee,usc
22,23,navy,American Athletic,0,0,2019,regular,16,Playoff Committee,navy
23,24,virginia,ACC,0,0,2019,regular,16,Playoff Committee,virginia
24,25,oklahoma state,Big 12,0,0,2019,regular,16,Playoff Committee,oklahoma state

<a id='alignment'></a>


&nbsp;

## Football / basketball data alignment

The football data is not specific to a school but rather a record of games.\
\
The Basketball data is generated by school and thus we have two representations of the same game based on the school.\
\
We need to translate the football data to a similar style.

In [7]:
# reduce 'df' to football games Michigan played
um = df[(df['home_team'] =='Michigan') | (df['away_team']=='Michigan')].copy() # where Michigan played home or away
um['school'] = 'michigan'
um['opponent'] = um.apply(lambda row: row['away_team'] if row['home_team']=='Michigan' else row['home_team'], axis=1)
um['h_a'] = um.apply(lambda row: 'H' if row['home_team']=='Michigan' else 'A', axis=1) # H if home, A if away

# reduce 'df' to football games Michigan State played
msu = df[(df['home_team']=='Michigan State') | (df['away_team']=='Michigan State')].copy() # where MSU played home or away
msu['school'] = 'michigan state'
msu['opponent'] = msu.apply(lambda row: row['away_team'] if row['home_team']=='Michigan State' else row['home_team'], axis=1)
msu['h_a'] = msu.apply(lambda row: 'H' if row['home_team']=='Michigan State' else 'A', axis=1)

In [8]:
um_msu = pd.concat([um, msu]) # concatenate 'um', 'msu' together for football DataFrame
um_msu['sport'] = 'football'

In [9]:
def DetermineResult(h_a, home_points, away_points):
    if h_a == 'H': # if it's home
        if home_points > away_points:
            return 'W'
        elif home_points < away_points:
            return 'L'
        else:
            return 'T'
    else: # if it's away
        if home_points > away_points:
            return 'L'
        elif home_points < away_points:
            return 'W'
        else:
            return 'T'
        

# DetermineResult() for 'W', 'L', 'T'
um_msu['result'] = um_msu.apply(lambda r: DetermineResult(r['h_a'], r['home_points'], r['away_points']), axis=1)

In [10]:
# always Michigan or Michigan State's points regardless of whether the game was home or away
um_msu['team_points'] = um_msu.apply(lambda r: r['home_points'] if r['h_a'] == 'H' else r['away_points'], axis=1)

# always the opponent's points
um_msu['opp_points'] = um_msu.apply(lambda r: r['home_points'] if r['h_a'] == 'A' else r['away_points'], axis=1)

In [11]:
# overtime column
um_msu['ot'] = um_msu.apply(lambda r: None if (len(r['home_line_scores']) -  4) == 0 else "OT" , axis=1)


#### Merging football data together

In [12]:
# merge Michigan / Michigan State football data w/ Michigan / Michigan State poll data
um_msu = um_msu.merge(cmb_ranks[['rank', 'school', 'season', 'season_type', 'week']], 
                      how='left', 
                      on=['school', 'season', 'week', 'season_type'])
um_msu.opponent = um_msu.opponent.str.lower()

# new column created before merge to set proper rank of opponent
cmb_ranks['opponent_rank'] = cmb_ranks['rank']

# merge opponent data into Michigan / Michigan State DataFrame
um_msu = um_msu.merge(cmb_ranks[['opponent_rank', 'opponent', 'season', 'season_type', 'week']], 
                      how='left', 
                      on=['opponent', 'season', 'week', 'season_type'])

In [13]:
# um_msu['rank'] = um_msu['rank'].astype('int64')
# um_msu['opponent_rank'] = um_msu['opponent_rank'].astype('int64')

# um_msu[um_msu['rank'].isna() == False]['rank'].unique()

# um_msu[['start_date','home_team','away_team','h_a','home_points','away_points','result','team_points','opp_points','ot']].sample(10)

In [14]:
print(len(um_msu)) # number of football games played by Michigan and Michigan State over 10 year period

267

In [15]:
um_msu[['school', 'rank', 'opponent', 'opponent_rank', 'season', 'week', 'attendance']].sample(10)

,school,rank,opponent,opponent_rank,season,week,attendance
113,michigan,15.0,maryland,NaN,2018,6,0.0
92,michigan,3.0,maryland,NaN,2016,10,110626.0
220,michigan state,12.0,notre dame,18.0,2016,3,80795.0
203,michigan state,12.0,maryland,NaN,2014,12,51802.0
171,michigan state,10.0,notre dame,20.0,2012,3,79219.0
63,michigan,NaN,utah,NaN,2014,4,103890.0
5,michigan,NaN,iowa,12.0,2009,6,0.0
27,michigan,22.0,san diego state,NaN,2011,4,0.0
41,michigan,25.0,illinois,NaN,2012,7,110922.0
129,michigan,15.0,michigan state,NaN,2019,12,111496.0

In [16]:
um_msu[um_msu['start_date'] == '2012-10-13T16:00:00.000Z'][['home_team','away_team','away_line_scores','ot']]

          home_team away_team     away_line_scores  ot
175  Michigan State      Iowa  [0, 3, 0, 10, 3, 3]  OT

In [17]:
um_msu['start_dt'] = pd.to_datetime(um_msu['start_date']) # convert to datetime
um_msu['end_inc_window'] = um_msu['start_dt'] + pd.to_timedelta(11, unit='h') # set incident time window from game start time

In [18]:
um_msu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  267 non-null    int64
 1   season              267 non-null    int64
 2   week                267 non-null    int64
 3   season_type         267 non-null    object
 4   start_date          267 non-null    object
 5   start_time_tbd      0 non-null      float64
 6   neutral_site        267 non-null    bool
 7   conference_game     267 non-null    bool
 8   attendance          267 non-null    float64
 9   venue_id            263 non-null    float64
 10  venue               263 non-null    object
 11  home_id             267 non-null    int64
 12  home_team           267 non-null    object
 13  home_conference     267 non-null    object
 14  home_points         267 non-null    int64
 15  home_line_scores    267 non-null    object
 16  home_post_win_prob  243 non-null    float64
 17  home_pregame_elo    260 non-null    float64
 18  home_postgame_elo   260 non-null    float64
 19  away_id             267 non-null    int64
 20  away_team           267 non-null    object
 21  away_conference     259 non-null    object
 22  away_points         267 non-null    int64
 23  away_line_scores    267 non-null    object
 24  away_post_win_prob  243 non-null    float64
 25  away_pregame_elo    260 non-null    float64
 26  away_postgame_elo   260 non-null    float64
 27  excitement_index    219 non-null    float64
 28  highlights          96 non-null     object
 29  notes               0 non-null      object
 30  school              267 non-null    object
 31  opponent            267 non-null    object
 32  h_a                 267 non-null    object
 33  sport               267 non-null    object
 34  result              267 non-null    object
 35  team_points         267 non-null    int64
 36  opp_points          267 non-null    int64
 37  ot                  16 non-null     object
 38  rank                161 non-null    float64
 39  opponent_rank       80 non-null     float64
 40  start_dt            267 non-null    datetime64[ns, UTC]
 41  end_inc_window      267 non-null    datetime64[ns, UTC]
dtypes: bool(2), datetime64[ns, UTC](2), float64(12), int64(9), object(17)
memory usage: 86.0+ KB

In [19]:
# drop columns - reduce from 42 columns to 14
um_msu = um_msu[['school', 'sport', 'start_dt', 'season_type', 'opponent', 'result', 'team_points', 
                 'opp_points', 'ot', 'rank', 'opponent_rank', 'end_inc_window', 'attendance', 'venue', 'excitement_index']]
um_msu.columns

Index(['school', 'sport', 'start_dt', 'season_type', 'opponent', 'result',
       'team_points', 'opp_points', 'ot', 'rank', 'opponent_rank',
       'end_inc_window', 'attendance', 'venue', 'excitement_index'],
      dtype='object')


### Basketball Data

In [20]:
# Read in college basketball data and match column names w/ football before merge

cbb = pd.read_csv('../04_finaldata/df_basketball_final.csv', parse_dates=['start_dt', 'end_inc_window'])

In [21]:
# drop columns
cbb = cbb[['school', 'sport', 'start_dt', 'type', 
           'opponent', 'result', 'team_points', 'opp_points', 
           'ot', 'rank', 'opponent_rank', 'end_inc_window']]

In [22]:
# text formatting
cbb = cbb.rename({'type': 'season_type'}, axis=1)
cbb['opponent'] = cbb['opponent'].str.lower()
cbb['season_type'] = cbb['season_type'].apply(lambda x: "regular" if x=='REG' else x)
cbb.columns
# fbb = spark.createDataFrame(um_msu[['school','sport','game_dt','season_type','opponent','result','team_points','opp_points','ot','end_inc_window']])

Index(['school', 'sport', 'start_dt', 'season_type', 'opponent', 'result',
       'team_points', 'opp_points', 'ot', 'rank', 'opponent_rank',
       'end_inc_window'],
      dtype='object')


#### Final sports merge

In [23]:
# We join the football and basketball data and do some manipulation across the sports including binarizing results and OT, 
# cleaning up / naming the indexes (used for a unique key)
sports = pd.concat([um_msu, cbb])
sports['ot'] = sports.ot.replace([np.nan], [None])
sports['ot'] = sports.ot.replace({None: 0, "OT": 1, "2OT": 1})
sports['result'] = sports.result.replace({"W": 1,"L": 0})
sports = sports.reset_index(drop=True)
sports.index.names = ['game_id']
sports

,school,sport,start_dt,season_type,opponent,result,team_points,opp_points,ot,rank,opponent_rank,end_inc_window,attendance,venue,excitement_index
game_id,,,,,,,,,,,,,,,
0,michigan,football,2009-09-05 19:30:00+00:00,regular,western michigan,1,31,7,0,NaN,NaN,2009-09-06 06:30:00+00:00,0.0,Michigan Stadium,NaN
1,michigan,football,2009-09-12 19:30:00+00:00,regular,notre dame,1,38,34,0,NaN,18.0,2009-09-13 06:30:00+00:00,0.0,Michigan Stadium,NaN
2,michigan,football,2009-09-19 16:00:00+00:00,regular,eastern michigan,1,45,17,0,25.0,NaN,2009-09-20 03:00:00+00:00,0.0,Michigan Stadium,NaN
3,michigan,football,2009-09-26 16:00:00+00:00,regular,indiana,1,36,33,0,23.0,NaN,2009-09-27 03:00:00+00:00,0.0,Michigan Stadium,NaN
4,michigan,football,2009-10-03 16:00:00+00:00,regular,michigan state,0,20,26,1,22.0,NaN,2009-10-04 03:00:00+00:00,0.0,Spartan Stadium,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,michigan-state,basketball,2019-03-21 14:45:00,NCAA,bradley,1,76,65,0,NaN,NaN,2019-03-22 00:45:00,NaN,NaN,NaN
989,michigan-state,basketball,2019-03-23 19:45:00,NCAA,minnesota,1,70,50,0,NaN,NaN,2019-03-24 05:45:00,NaN,NaN,NaN
990,michigan-state,basketball,2019-03-29 19:00:00,NCAA,louisiana state (12),1,80,63,0,NaN,12.0,2019-03-30 05:00:00,NaN,NaN,NaN
991,michigan-state,basketball,2019-03-31 17:05:00,NCAA,duke (1),1,68,67,0,NaN,1.0,2019-04-01 03:05:00,NaN,NaN,NaN
992,michigan-state,basketball,2019-04-06 20:49:00,NCAA,texas tech (9),0,51,61,0,NaN,9.0,2019-04-07 06:49:00,NaN,NaN,NaN

In [24]:
sports.columns # verify our columms

Index(['school', 'sport', 'start_dt', 'season_type', 'opponent', 'result',
       'team_points', 'opp_points', 'ot', 'rank', 'opponent_rank',
       'end_inc_window', 'attendance', 'venue', 'excitement_index'],
      dtype='object')

In [25]:
# Reduce number of columns that will be used in our analysis (prior to join with incident data)
sports = sports[['school', 'sport', 'start_dt', 'season_type', 'opponent', 'result', 'team_points',
                 'opp_points', 'ot', 'rank', 'opponent_rank', 'end_inc_window', 'attendance', 'venue']]

In [26]:
sports.season_type.unique()

array(['regular', 'CTOURN', 'NCAA'], dtype=object)

In [27]:
print(len(sports)) # 726 basketball games + 267 football games

993

In [28]:
sports.to_csv('../04_finaldata/sports.csv', header=True)

<a id='join'></a>


&nbsp;

## Join Sports and Incidents via Spark SQL

Now that the sports and incident data are manipulated, we'll use Spark SQL to create a dataset of all the games and their associated incidents / offenses.\
\
We'll ultimately end up with a large table that identifies every offense and its attribution to a particular incident and game.


#### sportrdd

In [29]:
from pyspark.sql.types import TimestampType
from pyspark.sql.functions import col
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName('Merge') \
    .getOrCreate() 

sc = spark.sparkContext

In [30]:
# Convert the sports DataFrame from prior step into a Spark DataFrame and ensure dates are casted correctly

sportsrdd = spark.read.csv('../04_finaldata/sports.csv', header=True, inferSchema=True)
sportsrdd = sportsrdd.withColumn('start_dt', col('start_dt').cast(TimestampType())) # convert start_dt to Timestamp
sportsrdd = sportsrdd.withColumn('end_inc_window', col('end_inc_window').cast(TimestampType())) # convert end_inc_window to Timestamp

In [31]:
print(sportsrdd.count())
sportsrdd.printSchema()

993
root
 |-- game_id: integer (nullable = true)
 |-- school: string (nullable = true)
 |-- sport: string (nullable = true)
 |-- start_dt: timestamp (nullable = true)
 |-- season_type: string (nullable = true)
 |-- opponent: string (nullable = true)
 |-- result: integer (nullable = true)
 |-- team_points: integer (nullable = true)
 |-- opp_points: integer (nullable = true)
 |-- ot: integer (nullable = true)
 |-- rank: string (nullable = true)
 |-- opponent_rank: double (nullable = true)
 |-- end_inc_window: timestamp (nullable = true)
 |-- attendance: double (nullable = true)
 |-- venue: string (nullable = true)

In [32]:
# Let's run a quick test to see that the columns came over properly
test = sportsrdd.sample(withReplacement=False, fraction=.1)
test.show(5)

+-------+--------+--------+-------------------+-----------+----------------+------+-----------+----------+---+----+-------------+-------------------+----------+------------------+
|game_id|  school|   sport|           start_dt|season_type|        opponent|result|team_points|opp_points| ot|rank|opponent_rank|     end_inc_window|attendance|             venue|
+-------+--------+--------+-------------------+-----------+----------------+------+-----------+----------+---+----+-------------+-------------------+----------+------------------+
|      1|michigan|football|2009-09-12 15:30:00|    regular|      notre dame|     1|         38|        34|  0|null|         18.0|2009-09-13 02:30:00|       0.0|  Michigan Stadium|
|      2|michigan|football|2009-09-19 12:00:00|    regular|eastern michigan|     1|         45|        17|  0|25.0|         null|2009-09-19 23:00:00|       0.0|  Michigan Stadium|
|      4|michigan|football|2009-10-03 12:00:00|    regular|  michigan state|     0|         20|        26|  1|22.0|         null|2009-10-03 23:00:00|       0.0|   Spartan Stadium|
|     13|michigan|football|2010-09-11 15:30:00|    regular|      notre dame|     1|         28|        24|  0|null|         null|2010-09-12 02:30:00|       0.0|Notre Dame Stadium|
|     17|michigan|football|2010-10-09 15:30:00|    regular|  michigan state|     0|         17|        34|  0|18.0|         17.0|2010-10-10 02:30:00|       0.0|  Michigan Stadium|
+-------+--------+--------+-------------------+-----------+----------------+------+-----------+----------+---+----+-------------+-------------------+----------+------------------+
only showing top 5 rows


#### Incident Spark DataFrame

In [33]:
# Let's get the incident data for UM and MSU and do the same thing with the dates
incs = spark.read.csv('../04_finaldata/UM_MSU_Offs.csv', header=True, inferSchema=True)
incs = incs.withColumn('INCIDENT_DATE', col('INCIDENT_DATE').cast(TimestampType())) # convert 'INCIDENT_DATE' to Timestamp type

In [34]:
# Create Spark SQL Table Views from both RDDs
sportsrdd.createOrReplaceTempView("sports")
incs.createOrReplaceTempView("incs")

In [35]:
# We need to get a list of every incident / offense associated to a game
# This grabs columns from 'sports' pandas DataFrame and the 'incs' Spark DataFrame and saves into a Spark DataFrame

query = """

SELECT
    s.game_id,
    s.sport, 
    s.school, 
    s.start_dt, 
    s.end_inc_window,
    s.rank,
    s.season_type,
    s.opponent,
    s.opponent_rank,
    s.result,
    s.team_points,
    s.opp_points,
    s.ot,
    s.attendance, 
    i.INCIDENT_ID as incident_id,
    i.OFFENSE_ID as offense_id,
    i.OFFENSE_NAME as offense_name,
    i.INCIDENT_DATE as incident_date

FROM
    sports s,
    incs i

WHERE
    i.INCIDENT_DATE BETWEEN s.start_dt AND s.end_inc_window AND
    i.school = s.school
"""


result = spark.sql(query)

In [36]:
df = result.toPandas() # convert Spark DataFrame to pandas DataFrame
print(df.shape)
df.head()

(1172, 18)

,game_id,sport,school,start_dt,end_inc_window,rank,season_type,opponent,opponent_rank,result,team_points,opp_points,ot,attendance,incident_id,offense_id,offense_name,incident_date
0,3,football,michigan,2009-09-26 12:00:00,2009-09-26 23:00:00,23.0,regular,indiana,NaN,1,36,33,0,0.0,50954556,55764025,Pocket-picking,2009-09-26 15:00:00
1,11,football,michigan,2009-11-21 12:00:00,2009-11-21 23:00:00,None,regular,ohio state,10.0,0,10,21,0,0.0,50956387,55769038,Destruction/Damage/Vandalism of Property,2009-11-21 22:00:00
2,139,football,michigan state,2009-10-24 19:00:00,2009-10-25 06:00:00,None,regular,iowa,6.0,0,13,15,0,0.0,51479688,55427802,Simple Assault,2009-10-24 23:00:00
3,294,basketball,michigan,2010-02-27 12:00:00,2010-02-27 22:00:00,-,regular,ohio state (9),9.0,0,55,66,0,NaN,55980511,61583743,Theft From Motor Vehicle,2010-02-27 13:00:00
4,2,football,michigan,2009-09-19 12:00:00,2009-09-19 23:00:00,25.0,regular,eastern michigan,NaN,1,45,17,0,0.0,50954526,55762040,All Other Larceny,2009-09-19 17:00:00

In [37]:
len(df.game_id.unique()) # check how many unique games had some type of incident associated to them

451

In [38]:
df.isna().sum()

game_id             0
sport               0
school              0
start_dt            0
end_inc_window      0
rank              319
season_type         0
opponent            0
opponent_rank     816
result              0
team_points         0
opp_points          0
ot                  0
attendance        458
incident_id         0
offense_id          0
offense_name        0
incident_date       0
dtype: int64

Now, since we performed an SQL operation that returned results that matched our criteria, we need to join these results to the games dataset.\
\
We'll create another table view and call it `game_incs` and use a left join to the sports data.

In [39]:
result.createOrReplaceTempView('game_incs')

In [40]:
query2 = """

SELECT s.*, g.incident_id, g.offense_id, g.offense_name, g.incident_date

FROM
    sports s LEFT JOIN game_incs g
    ON s.game_id = g.game_id
    
"""

result2 = spark.sql(query2)

In [41]:
full = result2.toPandas().set_index('game_id')

In [42]:
len(full.index.unique()), full.shape

(993, (1714, 18))

In [43]:
full.isna().sum() # na values mostly from games where no incidents occurred w/in time window

school               0
sport                0
start_dt             0
season_type          0
opponent             0
result               0
team_points          0
opp_points           0
ot                   0
rank               374
opponent_rank     1200
end_inc_window       0
attendance         955
venue              965
incident_id        542
offense_id         542
offense_name       542
incident_date      542
dtype: int64

<a id='check'></a>


&nbsp;

## Checking the full DataFrame

In [44]:
full.sample(20)

,school,sport,start_dt,season_type,opponent,result,team_points,opp_points,ot,rank,opponent_rank,end_inc_window,attendance,venue,incident_id,offense_id,offense_name,incident_date
game_id,,,,,,,,,,,,,,,,,,
952,michigan-state,basketball,2018-03-16 19:10:00,NCAA,bucknell,1,82,78,0,None,NaN,2018-03-17 05:10:00,NaN,None,NaN,NaN,None,NaT
106,michigan,football,2017-11-18 12:00:00,regular,wisconsin,0,10,24,0,24.0,5.0,2017-11-18 23:00:00,81216.0,Camp Randall Stadium,94399102.0,117000854.0,Drug/Narcotic Violations,2017-11-18 23:00:00
263,michigan state,football,2019-11-09 15:30:00,regular,illinois,0,34,37,0,None,NaN,2019-11-10 02:30:00,63370.0,Spartan Stadium,118822786.0,144066178.0,Motor Vehicle Theft,2019-11-09 18:00:00
312,michigan,basketball,2011-01-02 16:00:00,regular,penn state,1,76,69,0,-,NaN,2011-01-03 02:00:00,NaN,None,NaN,NaN,None,NaT
354,michigan,basketball,2012-01-24 19:00:00,regular,purdue,1,66,64,0,20,NaN,2012-01-25 05:00:00,NaN,None,64809007.0,68780497.0,Simple Assault,2012-01-24 22:00:00
846,michigan-state,basketball,2015-03-27 22:07:00,NCAA,oklahoma (13),1,62,58,0,None,13.0,2015-03-28 08:07:00,NaN,None,NaN,NaN,None,NaT
861,michigan-state,basketball,2015-12-22 19:00:00,regular,oakland,1,99,93,1,1,NaN,2015-12-23 05:00:00,NaN,None,NaN,NaN,None,NaT
299,michigan,basketball,2010-11-13 19:00:00,regular,south carolina upstate,1,66,35,0,-,NaN,2010-11-14 05:00:00,NaN,None,55987176.0,61585275.0,Robbery,2010-11-13 19:00:00
179,michigan state,football,2012-11-17 12:00:00,regular,northwestern,0,20,23,0,None,NaN,2012-11-17 23:00:00,75101.0,Spartan Stadium,66991151.0,69041268.0,All Other Larceny,2012-11-17 18:00:00
196,michigan state,football,2014-09-20 12:00:00,regular,eastern michigan,1,73,14,0,11.0,NaN,2014-09-20 23:00:00,73846.0,Spartan Stadium,73417027.0,79478862.0,Drug Equipment Violations,2014-09-20 20:00:00
132,michigan state,football,2009-09-05 12:00:00,regular,montana state,1,44,3,0,None,NaN,2009-09-05 23:00:00,0.0,Spartan Stadium,51477851.0,55414365.0,All Other Larceny,2009-09-05 17:00:00
620,michigan,basketball,2019-03-03 15:45:00,regular,maryland (17),1,69,62,0,9,17.0,2019-03-04 01:45:00,NaN,None,NaN,NaN,None,NaT
942,michigan-state,basketball,2018-01-31 18:30:00,regular,penn state,1,76,68,0,5,NaN,2018-02-01 04:30:00,NaN,None,NaN,NaN,None,NaT
798,michigan-state,basketball,2014-02-20 19:00:00,regular,purdue,1,94,79,0,13,NaN,2014-02-21 05:00:00,NaN,None,NaN,NaN,None,NaT
292,michigan,basketball,2010-02-20 18:00:00,regular,penn state,0,51,55,0,-,NaN,2010-02-21 04:00:00,NaN,None,55980480.0,61571768.0,Theft From Building,2010-02-20 19:00:00
363,michigan,basketball,2012-03-01 19:00:00,regular,illinois,1,72,61,0,13,NaN,2012-03-02 05:00:00,NaN,None,64799429.0,68759010.0,Burglary/Breaking & Entering,2012-03-02 05:00:00
224,michigan state,football,2016-10-15 15:30:00,regular,northwestern,0,40,54,0,None,NaN,2016-10-16 02:30:00,75625.0,Spartan Stadium,93422668.0,102480793.0,All Other Larceny,2016-10-15 23:00:00
853,michigan-state,basketball,2015-11-26 18:30:00,regular,boston college,1,99,68,0,3,NaN,2015-11-27 04:30:00,NaN,None,NaN,NaN,None,NaT
838,michigan-state,basketball,2015-03-01 16:00:00,regular,wisconsin (5),0,61,68,0,-,5.0,2015-03-02 02:00:00,NaN,None,NaN,NaN,None,NaT
326,michigan,basketball,2011-02-19 16:30:00,regular,iowa,1,75,72,1,-,NaN,2011-02-20 02:30:00,NaN,None,59271693.0,62412818.0,Drug/Narcotic Violations,2011-02-19 20:00:00

In [45]:
# Quick calculation to determine the number of sporting events that have an actual incident associated to them
grp = full.groupby('start_dt')[['incident_id','offense_name']].count()
grp[grp['incident_id'] > 0].shape[0] / 993

0.43202416918429004

In [46]:
full.to_csv('../04_finaldata/full_data.csv') # DataFrame to be used for main report analysis

In [47]:
# Let's do a quick validation to make sure that the data associated ok. Take the game start_date with the highest number of incidents and check what offenses were created. Validate that we have the same number.
grp.sort_values('incident_id', ascending=False)

                     incident_id  offense_name
start_dt
2014-10-25 15:30:00           14            14
2016-10-29 12:00:00           12            12
2017-10-21 15:30:00           12            12
2011-11-19 12:00:00           12            12
2009-10-03 12:00:00           11            11
...                          ...           ...
2012-02-11 18:00:00            0             0
2015-11-27 17:30:00            0             0
2015-11-26 21:30:00            0             0
2015-11-26 18:30:00            0             0
2014-11-18 19:00:00            0             0

[929 rows x 2 columns]

In [48]:
# Seeing 10-25-2014 has the highest number of offenses.  Let's see what incidents/offenses were generated
testsql = "SELECT i.school, i.INCIDENT_ID,i.OFFENSE_NAME FROM incs i WHERE i.INCIDENT_DATE BETWEEN '2014-10-25 15:30:00' AND '2014-10-26 2:30:00'"
r = spark.sql(testsql)
r.show()

+--------------+-----------+--------------------+
|        school|INCIDENT_ID|        OFFENSE_NAME|
+--------------+-----------+--------------------+
|      michigan|   74955899|Drug/Narcotic Vio...|
|michigan state|   73419507| Theft From Building|
|michigan state|   73418616|Destruction/Damag...|
|michigan state|   73418627|Destruction/Damag...|
|      michigan|   74955896| Theft From Building|
|michigan state|   73418619|      Simple Assault|
|michigan state|   73418637|      Simple Assault|
|michigan state|   73418625|      Simple Assault|
|michigan state|   73418636|      Simple Assault|
|michigan state|   73418620|      Simple Assault|
|michigan state|   73418617|  Aggravated Assault|
|michigan state|   73418618|      Simple Assault|
|      michigan|   74955897| Theft From Building|
|michigan state|   73418623|      Simple Assault|
+--------------+-----------+--------------------+

^\
|

Looks like 14 offenses - most attributed to MSU's campus (assault).\
\
This was a game where Michigan State and played Michigan and won, btw. It was played at Spartan Stadium.


&nbsp;

## Result checks

In [49]:
tstsql = """SELECT i.school, i.INCIDENT_ID, i.OFFENSE_NAME 
            FROM incs i 
            WHERE i.INCIDENT_DATE BETWEEN '2011-01-30 18:00:00' AND '2011-01-31 04:00:00'"""
spark.sql(tstsql).show()

+------+-----------+------------+
|school|INCIDENT_ID|OFFENSE_NAME|
+------+-----------+------------+
+------+-----------+------------+

In [50]:
sports.columns

Index(['school', 'sport', 'start_dt', 'season_type', 'opponent', 'result',
       'team_points', 'opp_points', 'ot', 'rank', 'opponent_rank',
       'end_inc_window', 'attendance', 'venue'],
      dtype='object')

In [51]:
test_query = """SELECT s.school home, s.opponent, s.start_dt start, s.end_inc_window end
                FROM sports s
                WHERE s.school == 'michigan'"""
spark.sql(test_query).show(3)

+--------+----------------+-------------------+-------------------+
|    home|        opponent|              start|                end|
+--------+----------------+-------------------+-------------------+
|michigan|western michigan|2009-09-05 15:30:00|2009-09-06 02:30:00|
|michigan|      notre dame|2009-09-12 15:30:00|2009-09-13 02:30:00|
|michigan|eastern michigan|2009-09-19 12:00:00|2009-09-19 23:00:00|
+--------+----------------+-------------------+-------------------+
only showing top 3 rows

In [52]:
# Determine if number of incidents for a game matches on Timestamp alone
test_query = """SELECT i.INCIDENT_ID id 
                FROM incs i 
                WHERE i.INCIDENT_DATE BETWEEN '2009-09-12 15:30:00' AND '2009-09-13 02:30:00'"""
spark.sql(test_query).count()

9

In [53]:
test_query = """SELECT s.school home, s.opponent, i.INCIDENT_ID id, i.OFFENSE_NAME offense
                FROM sports s, incs i
                WHERE (s.sport == 'football' 
                        AND s.school == 'michigan' 
                        AND s.opponent == 'notre dame' 
                        AND i.INCIDENT_DATE BETWEEN '2012-01-01 00:00:00' AND '2012-12-31 23:59:59')"""
spark.sql(test_query).count()

19432

In [54]:
df_full = pd.read_csv('../04_finaldata/full_data.csv', parse_dates=['start_dt', 'end_inc_window'])